<%= form_for @order do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
    <%= t('errors.template.header', :count=>@order.errors.size, :model=>t('activerecord.models.order')) %>:      
    <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, t('.name') + ":" %>
    <%= f.text_field :name, :size => 40 %>
  </div>

  <div>
    <%= f.label :address, t('.address') + ":" %>
    <%= f.text_area :address, :rows => 3, :cols => 40 %>
  </div>

  <div>
    <%= f.label :email, t('.email') + ":" %>
    <%= f.text_field :email, :size => 40 %>
  </div>

  <div>
    <%= f.label :pay_type, t('.pay_type') + ":" %>
    <%=
      f.select :pay_type,
                   Order::PAYMENT_TYPES, 
                  :prompt => t('.pay_prompt')
    %>
  </div>
 
  <%= f.submit t('.submit') %>
<% end %>  
